extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block no_hero

block variables
    - var title = "We're creating a service that sends you weekly meal plans designed for sustained energy throughout your day.  Click the link to learn more!"
    - var description = "We're creating a service that sends you weekly meal plans designed for sustained energy throughout your day.  Turn sluggish afternoons into productive hours with laser focus!"
    - var fbImage = "http://eatingforproductivity.com/assets/images/guy-working-on-computer-with-hand-on-head.jpg"
    - var fbType = "article"

block content
    .section.red.micro
        .small-container
            .full
                .header
                    img.circle.outline.inline-block(src="/assets/images/logo.png" alt="Eating for Productivity. High energy meal plans sent to you weekly without you having to think about.")
                    h2.text-center.bold.inline-block Eating for Productivity

    .section.small
        .small-container
            .full
                h1.text-center Weekly Meal Plans for Professionals Who Want High Energy Days

                p.italic Do you ever get a rush of sleepiness just after eating lunch around 3-4pm that makes it close to impossible to stay awake even while you sit at your desk working?

                img(src="/assets/images/guy-working-on-computer-with-hand-on-head.jpg")

                p For me, this was most days. Even after fixing my sleep schedule to get a solid 8 hours a night at consistent sleep and wake times, I still found myself getting tired and losing focus after lunch.

                p After doing some research, I noticed what you eat matters as much as when you eat it.

                h3 I Needed to Find an Expert

                p I can't claim to be an expert on nutrition so I went looking for one.  I found a nutritionist who creates weekly meal plans focused around holistic eating and I asked her if she could help me.

                p She sent me my plan for a weeks worth of meals and snacks, along with a grocery list.  Not only was everything delicious, but after a few days, I no longer had trouble staying focused in the afternoon.

                p.bold This was a game changer!

                img(src="/assets/images/people-working-at-a-single-desk.jpg")

                p Now I have high energy throughout my day, eat a well balanced diet that is delicious, and have no trouble maintaining a healthy weight.

                p
                    span.bold Best of all, I don't have to think about my food for the week at all!&nbsp;
                    | My meals and snacks are set for the week and I receive a simple list for grocery shopping.

                h3 Eat for Productivity Without Thinking About It!

                p I am continuing my meal plan and am working with her to create a reasonably priced service that sends you weekly meal plans designed for sustained energy throughout your day.  We're thinking just a few dollars a month.

                p You may think these meal plans won't be customized enough for your lifestyle and if you have dietary restrictions then you would be right!

                p
                    | But as far personalization on the meal plans I received, there is nothing particularly unique to my life besides the desire to have high energy days with laser focus.&nbsp;
                    span.bold These meal plans will boost your energy assuming you don't have dietary restrictions.

                img(src="/assets/images/punch-today-in-the-face.jpg")

                h3 Punch Today In the Face.

                p
                    | If you catch yourself falling asleep around 3pm and instead want the energy to power through your afternoon, this service will set you up for success&nbsp;
                    span.bold without you having to even think about it.

                p Enter your email below to receive updates and get notified when we launch :)

    .section.red.small
        .content-upgrade.signup-form
            h3.bold.text-center Get notified when we launch!
            p We'll let you know when we launch so you can make every day as productive as possible without having to think about the food you eat!

            form#email-form.ui.form(action="https://shaneburkhart.us15.list-manage.com/subscribe/post", method="post")
                input(type="hidden" name="u" value="8c6e4ce8404562ca882805491")
                input(type="hidden" name="id" value="25321ca51c")
                .field
                    label(for="MERGE1") First Name
                    input(type="text" name="MERGE1" id="MERGE1" size="25" value="")

                .field
                    label(for="MERGE0") Email
                    input(type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="")

                .text-center
                    input.ui.button.large.blue.g-recaptcha(
                        name="commit"
                        type="submit"
                        value="Let's eat!"
                        data-sitekey="6LcsSlsUAAAAAC07KUDKpdwqa42lig6dYuvPHAgN"
                        data-callback="onSubmit")

                script.
                    function onSubmit(token) {
                        document.getElementById("email-form").submit();
                    }
